.red-button {
    width: 100%;
    font: inherit;
    /* margin: 0 0.5rem; */
    margin-right: .5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    color: white;
    background: rgb(205, 7, 7);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }
  
  .green-button {
    width: 100%;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    color: white;
    background: green;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }

  .green-button:focus {
    outline: none;
  }

  .red-button:focus {
    outline: none;
  }
  
  .red-button:hover,
  .red-button:active {
    background: #dd3434;
    border-color: #041e10;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }

  .green-button:hover,
  .green-button:active {
    background: #2c973e;
    border-color: #041e10;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }
  
  @media (min-width: 768px) {
    .green-button {
      width: auto;
    }

    .red-button {
      width: auto;
    }
  }